.carousel-item .row {
    padding-bottom: 50px;
  }

  .logo{ 
      max-width: 100px;
  }


.menu1{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -320px;
}

.menu1 a{ color: white}


.filmes {
    background-color: lightgrey;
    padding-left: 100px;
    border-right-width: 100px;
    margin-bottom: 20px;
    padding-right: 100px;
  }

.nfilmes {padding: 10px;}

.card_area > div{margin-top: 15px; margin-bottom: 10px; padding-left: 80px;
}

.card_area img { width: 100%;}

.card_area{
    padding-right: 80px;
}


.avaliacoes > div{
    margin-top: 15px; margin-bottom: 10px;
}
.avaliacoes{
    width: 100%;
}

.avaliacoes{
    justify-content: center;
}

.entrevista{
    justify-content: center;
}

.entrevista > div{
    margin-top: 15px; margin-bottom: 10px;
}
.entrevista{
    width: 100%;
}
.aside1{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 400px;
    flex-direction: row;
}
.aside1{
    float: right;
}
.footer{
    background-size: cover;
    background-position: 0px -250px;
    color: white;
    padding: 20px;
    background-color: black;
}


#menuToggle {
    display: none;
  }
.menu-icon {
    display: none;
}

/* Media Queries */

@media screen and (max-width:600px){
    .header{
        background-position: 0px -50px;
    } 
  }
  
  @media screen and (min-width:601px) and (max-width:980px){
    .header{
        background-position: 0px -100px;
    } 
  }
  
  @media screen and (max-width: 1000px) {
  
    .header{        
        position: fixed;
        top: 0px;        
        z-index: 999;
        max-width:100% !important;
    }
    .container_nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }
    .main{
        margin-top: 140px;
    }
  
    .menu1 {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 320px;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
  
    .menu1 a {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: 55px;
        right: 30px;
        line-height: 60px;
        color:  white;
        z-index: 999;
    }
    #menuToggle:checked ~ label i:nth-child(2) {
      display: block;
    }
    #menuToggle:checked ~ label i:first-child {
      display: none;
    }
    #menuToggle:not(:checked) ~ label i:first-child {
      display: block;
    }
    #menuToggle:not(:checked) ~ label i:nth-child(2) {
      display: none;
    }
  
    #menuToggle:checked ~ nav {
        height: 100%;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
  }
  @media screen and (max-width: 1000px) {
    iframe{
        height: 400px;
        width: 100%;
    }

    .filmes {
        background-color: lightgrey;
        padding-left: 10px;
        border-right-width: 100%;
        margin-bottom: 2px;
        padding-right: 10px;
        overflow-y: auto;
        padding: 5%;
    }
}

@media screen and (min-width:601px) and (max-width:980px){
    iframe{
        height: 200px;
        width: 100%;
    }

    .filmes {
        background-color: lightgrey;
        padding-left: 10px;
        border-right-width: 100%;
        margin-bottom: 2px;
        padding-right: 10px;
        overflow-y: auto;
        padding: 5%;
    }
}

@media screen and (max-width:600px){
    iframe{
        height: 300px;
        width: 100%;
    }

    .filmes {
        background-color: lightgrey;
        padding-left: 10px;
        border-right-width: 100%;
        margin-bottom: 2px;
        padding-right: 10px;
        overflow-y: auto;
        padding: 5%;
    }
}

@media screen and (min-width:992px) and (max-width:2000px){
    .sobre{
        display: none;
    }
}

@media screen and (max-width:768px){
    .aside1{
        display: none;
    }
}